<div class="container table-responsive">
  <app-breadcrumb [routerBreadcrum]="routerBreadcrum"></app-breadcrumb>
  <div>
    <h2 class="text-center fw-bold text-info">
      (Grupo {{ numberGroup.number }})
    </h2>
    <h1 class="text-center">Salidas a predicar</h1>
    <h2 class="text-center">{{ dateDeparture.value }}</h2>
  </div>
  <div *ngIf="departures$.length > 0">
    <app-table-departures
      [departures]="departures$"
      [dateDeparture]="dateDeparture.value"
    ></app-table-departures>
  </div>
  <div class="d-flex justify-content-center my-4">
    <button class="btn btn-primary btn-list-primary" routerLink="../../publicadores">
      Lista de publicadores
    </button>
  </div>
  <!-- Button trigger modal -->
  <div class="d-flex justify-content-center my-4" *ngIf="isAdmin">
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      data-bs-toggle="modal"
      data-bs-target="#modalDeparture"
    >
      Editar salidas
    </button>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="modalDeparture"
    tabindex="-1"
    aria-labelledby="modalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="modalLabel">Editar Salidas</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="rollbackInputForm()"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formDeparture" (ngSubmit)="submitForm()">
            <div class="input-group mb-3">
              <span class="input-group-text">Semana</span>
              <input
                type="text"
                class="form-control"
                [formControl]="dateDeparture"
              />
            </div>
            <div
              class="input-group input-group-sm py-2"
              *ngFor="let days of formDeparture.controls?.['departure']?.value; let i = index"
            >
              <span class="input-group-text"
                ><input
                  type="text"
                  style="background: inherit; border: 0; max-width: 70px"
                  [value]="days.day"
                  (change)="onChangeInput($event, days.day, i)"
              /></span>
              <input
                type="text"
                aria-label="driver"
                class="form-control"
                placeholder="Conductor"
                [value]="days.driver"
                (change)="onChangeInput($event, days.driver, i)"
              />
              <input
                type="text"
                aria-label="schedule"
                class="form-control"
                placeholder="Horario"
                [value]="days.schedule"
                (change)="onChangeInput($event, days.schedule, i)"
              />
              <input
                type="text"
                aria-label="territory"
                class="form-control"
                placeholder="Territorio"
                [value]="days.territory"
                (change)="onChangeInput($event, days.territory, i)"
              />
              <input
                type="text"
                aria-label="point"
                class="form-control"
                placeholder="Punto de encuentro"
                [value]="days.point"
                (change)="onChangeInput($event, days.point, i)"
              />
              <div class="input-group-text">
                <input
                type="checkbox"
                aria-label="point"
                class="form-control"
                placeholder="Grupo"
                class="form-check-input mt-0"
                [checked]="days.checked"
                (change)="onChangeInput($event, days.checked, i)"
                />
                <span class="ms-2">Grupo</span>
              </div>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deleteInputForm(i)"
              >
                Quitar
              </button>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success text-center me-auto"
                (click)="addInputForm()"
              >
                Nueva salida +
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                (click)="rollbackInputForm()"
              >
                Cancelar
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                Guardar salidas
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
