@media (max-width: 990px) {
    .card-container{
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .card-container{
        align-items: center;
        flex-direction: column;
    }
}
.btn-list-primary {
    --bs-btn-bg: #008fc9;
    --bs-btn-hover-bg:#0575a1;
}

