<div class="container">
  <app-breadcrumb [routerBreadcrum]="routerBreadcrum"></app-breadcrumb>
  <div class="card-container">
    <app-card-xl
      *ngFor="let terr of territorioMaps"
      mapSRC="{{ terr.src }}"
      mapName="{{ terr.name }}"
      [routerLink]="terr.link"
    ></app-card-xl>
  </div>
  <hr />
  <h1 class="text-center">Revisión de tarjetas recibidas</h1>
  <div
    class="card-s-container"
    *ngFor="let card of allCardsReceived"
    (click)="cardReceived(card)"
  >
    <div class="card" style="width: auto">
      <div class="card-body d-flex flex-column text-dark">
        <h4>🔸{{card.location}}</h4>
        <h4>🔸{{card.driver}}</h4>
        <h4>🔸N°{{ card.numberTerritory }}</h4>
        <h4>🔸{{card.start | date:"dd-MM-yyyy"}}</h4>
      </div>
    </div>
  </div>
</div>
