.btn-list-primary {
    --bs-btn-bg: #008fc9;
    --bs-btn-hover-bg:#0575a1;
}

.date-pill {
    display: inline-flex;
    align-items: center;
    background-color: #e0f2f1; /* Light teal/cyan tint */
    background: linear-gradient(to right, #e0f7fa, #e1f5fe);
    color: #0277bd;
    padding: 0.5rem 1.5rem;
    border-radius: 50rem;
    border: 1px solid #b3e5fc;
    box-shadow: 0 2px 6px rgba(0, 143, 201, 0.08);
    
    h2 {
        font-weight: 700;
        letter-spacing: -0.5px;
        color: #01579b;
    }
}