<div style="overflow-x: auto">
    <table
      class="table table-dark table-hover table-striped table-bordered caption-buttom"
    >
      <thead>
        <tr>
          <th scope="col">Día</th>
          <th scope="col">Persona Asignada</th>
          <th scope="col">Horario</th>
          <th scope="col">Ubicación</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <ng-container *ngFor="let cart of cartData">
          <tr [class]="'table-' + cart.color" >
            <th scope="row">{{ getDayOfWeek(cart.date) }}</th>
            <td>{{ cart.assignment }}</td>
            <td>{{ cart.schedule }}hs</td>
            <td>{{ cart.location }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
