<div class="container table-responsive">
  <div class="mb-6">
    <h1 class="text-center">Programa del carrito</h1>
    <h5 class="text-center text-cyan-500">
      <p>Recordá siempre repasar las Pautas para la predicación pública 📋✨</p>
    </h5>
  </div>
  @if (cartData$.length > 0) {
    <div>
      <app-table-cart-assignment
        [cartData]="cartData$"
      ></app-table-cart-assignment>
    </div>
  } @else {
    <div class="flex flex-col items-center my-8">
      <h3 class="text-center text-gray-500">No hay arreglos del carrito en este momento.</h3>
      <button
        type="button"
        class="bg-blue-600 text-white border border-blue-600 hover:bg-blue-700 btn-lg mt-4 inline-block px-4 py-2 text-center rounded transition cursor-pointer"
        routerLink="editar"
      >
        Crear arreglos
      </button>
    </div>
  }
  <!-- Edición del carrito -->
  @if (isAdmin) {
    <div class="flex justify-center my-6">
      <button
        type="button"
        class="bg-blue-600 text-white border border-blue-600 hover:bg-blue-700 btn-list-primary btn-lg inline-block px-4 py-2 text-center rounded transition cursor-pointer"
        routerLink="editar"
        >
        Editar asignaciones
      </button>
    </div>
  }
  <!-- Mapa con ubicaciones -->
  <!-- <h1 class="text-center">Ubicaciones aprobadas</h1>
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/d/embed?mid=18bUhpoL7BvyObAYi3AhADHFQ6AONHMs&ehbc=2E312F&noprof=1" height="100%" style="border: 0" loading="lazy" allowfullscreen></iframe>
    <iframe src="https://www.google.com/maps/d/embed?mid=1HGl4WD5Is6ntObB3G-o1GPBE6Il9-Xw&ehbc=2E312F" height="100%" style="border: 0" loading="lazy" allowfullscreen></iframe>
  </div> -->
</div>
