<div style="overflow-x: auto">
  <table
    class="table table-dark table-hover table-striped table-bordered caption-buttom"
    >
    <caption class="text-white">
      Salidas a predicar ({{dateDeparture()}})
    </caption>
    <thead>
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Horario</th>
        <th scope="col">Conductor</th>
        <th scope="col" class="text-nowrap">Púnto de encuentro</th>
        <th scope="col">Territorio</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (departure of departures(); track departure) {
        @if (currentPath === departure.group || departure.group === 0) {
          <tr [class]="'table-' + departure.color" >
            <th scope="row">{{ getDayOfWeek(departure.date) }}</th>
            <td>{{ departure.schedule }}hs</td>
            <td>{{ departure.driver }}</td>
            <td>{{ departure.point }}</td>
            <td [routerLink]="'../../territorios/' + departure.location + '-' + departure.territory.replace('N°', '')" class="cursor-pointer">
              <span>{{ departure.territory }}</span>
              <img src="https://api.iconify.design/fe:link-external.svg" alt="Link icon" class="ms-1 w-4 h-4">
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
