<div class="container-fluid header pt-1">
  <app-breadcrumb [routerBreadcrum]="routerBreadcrum"></app-breadcrumb>
  <h1 class="text-center pb-4">Tarjeta del mapa del territorio</h1>
</div>
<div class="container">
  @if (card.revision) {
    <h4 class="text-center text-danger">(Revisión de la tarjeta)</h4>
  }
  <div class="d-flex flex-column align-items-center my-4">
    <div class="">
      <h3>
        Localidad:&nbsp;&nbsp;<i>{{ card.location }}</i>
      </h3>
    </div>
    <div class="">
      <h3>
        Territorio:&nbsp;&nbsp;<i>N°&nbsp;{{ card.numberTerritory }}</i>
      </h3>
    </div>
  </div>
  <div
    class="d-flex justify-content-center"
    [innerHTML]="iframe"
  ></div>
  <div class="d-flex justify-content-center">
    @if(dataLoaded()){
      <form
        appFocusInvalidInput
        [formGroup]="formCard"
        (ngSubmit)="submitForm()"
        class="d-flex flex-column"
        class="my-4 form-card"
        >
        <label for="driver" class="fs-5">Conductor</label>
        <input
          type="text"
          placeholder="Nombre del conductor"
          class="form-control"
          id="driver"
          formControlName="driver"
          />
          <!-- Error  -->
          @if (driverError) {
            <div
              class="alert alert-danger mt-3"
              role="alert"
              style="border-radius: 3px; padding: 5px"
              >
              <div class="container-error-message">Ingresá tu nombre por favor</div>
            </div>
          }
          <div class="bg-dark mt-4 p-2 rounded">
            <div class="d-flex justify-content-center">
              <label class="fs-3 fw-bold">Manzanas completadas</label>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
              @for (apple of card.applesData; track i; let i = $index) {
                <div>
                  <div class="form-check form-check-inline my-2">
                    <input
                      class="form-check-input check"
                      type="checkbox"
                      [id]="apple?.name"
                      [value]="apple?.name"
                      [checked]="apple?.checked"
                      (change)="onCheckboxChange($event)"
                      />
                      <label
                        class="form-check-label fs-4 ms-3"
                        [for]="apple.name"
                        >{{ apple.name }}</label
                        >
                      </div>
                    </div>
                  }
                </div>
              </div>
              <div class="row">
                <div class="col mt-3">
                  <label for="start" class="fs-5"
                    >Inicio</label
                    >
                    <input
                      id="start"
                      type="date"
                      class="form-control"
                      placeholder="dd-mm-yyyy"
                      formControlName="start"
                      />
                    </div>
                    <div class="col mt-3">
                      <label for="end" class="fs-5">Conclución</label>
                      <input
                        id="end"
                        type="date"
                        class="form-control"
                        formControlName="end"
                        />
                      </div>
                    </div>
                    <!-- Error  -->
                    @if (startError) {
                      <div
                        class="alert alert-danger mt-3"
                        role="alert"
                        style="border-radius: 3px; padding: 5px"
                        >
                        <div class="container-error-message">
                          Ingresá la fecha de inicio por favor
                        </div>
                      </div>
                    }
                    @if (endError) {
                      <div
                        class="alert alert-danger mt-3"
                        role="alert"
                        style="border-radius: 3px; padding: 5px"
                        >
                        <div class="container-error-message">
                          Ingresá la fecha de conclución por favor
                        </div>
                      </div>
                    }
                    <div class="d-flex justify-content-center mt-4">
                      <textarea
                        name="comments"
                        [value]="card.comments"
                        class="form-control"
                        id="comments"
                        cols="150"
                        rows="2"
                        placeholder="Comentarios (opcional)"
                        formControlName="comments"
                      ></textarea>
                    </div>
                    <button class="btn btn-success mt-3 btn-lg" type="submit">
                      Enviar tarjeta
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary mt-3 ms-3 btn-lg"
                      routerLink="../../registro-territorios"
                      >
                      Cancelar
                    </button>
                    <app-modal></app-modal>
                  </form>
    }
              </div>
            </div>
