<h1 class="text-center">Editar programa del carrito</h1>

<form [formGroup]="formCart" class="d-flex flex-column justify-center">
  <div
    class="input-group input-group-sm py-2 departure-input"
    *ngFor="let days of cartFormArray.controls; let i = index"
  >
    <div class="m-0 p-0">
      <select
        class="form-select custom-btn-start h-100 me-5 btn btn-square btn-secondary"
        (change)="onChangeInput($event, 'date', i)"
      >
        <option
          [value]="days.get('date')?.value || 'Seleccionar día'"
          disabled
          selected
        >
          {{ days.get("date")?.value || "Seleccionar día" }}
        </option>
        <option value="Lunes">Lunes</option>
        <option value="Martes">Martes</option>
        <option value="Miércoles">Miércoles</option>
        <option value="Jueves">Jueves</option>
        <option value="Viernes">Viernes</option>
        <option value="Sábado">Sábado</option>
        <option value="Domingo">Domingo</option>
      </select>
    </div>
    <span class="input-group-text">
      <input
        type="time"
        aria-label="schedule"
        class="form-control"
        placeholder="Horario"
        [value]="days.get('schedule')?.value || ''"
        (change)="onChangeInput($event, 'schedule', i)"
      />
    </span>
    <input
      type="text"
      aria-label="asignado"
      class="form-control"
      placeholder="Publicador asignado"
      [value]="days.get('assignment')?.value || ''"
      (change)="onChangeInput($event, 'assignment', i)"
    />
    <div class="m-0 p-0">
      <select
        class="form-select custom-btn h-100 me-5 btn btn-success"
        (change)="onChangeInput($event, 'location', i)"
      >
        <option
          [ngValue]="days.get('location')?.value || null"
          disabled
          selected
        >
          {{ days.get("location")?.value?.name || "Seleccionar ubicación" }}
        </option>
        <option *ngFor="let location of locations" [ngValue]="location.name">
          {{ location.name }}
        </option>
      </select>
    </div>
    <div class="m-0 p-0">
      <select
        class="form-select custom-btn h-100 me-5"
        [class]="'btn btn-square btn-' + days.get('color')?.value"
        (change)="onChangeColor($event, i)"
      >
        <option [value]="'secondary'" disabled selected>
          Seleccionar color
        </option>
        <option value="primary">Azul</option>
        <option value="secondary">Gris</option>
        <option value="success">Verde</option>
        <option value="danger">Rojo</option>
        <option value="warning">Amarillo</option>
        <option value="info">Celeste</option>
        <option value="light">Blanco</option>
        <option value="dark">Negro</option>
      </select>
    </div>
    <button type="button" class="btn btn-danger" (click)="deleteInputForm(i)">
      Quitar
    </button>
  </div>
  <div class="modal-footer mx-4">
    <button
      type="button"
      class="btn btn-success text-center me-auto"
      (click)="addInputForm()"
    >
      Nueva asignación
    </button>
  </div>
  <hr />
</form>
<div class="d-flex justify-content-center pb-3">
  <button type="submit" class="btn btn-primary" (click)="submitForm()">
    Guardar asignaciones
  </button>
</div>

<h1 class="text-center">Editar ubicaciones aprobadas</h1>
<!-- Nuevo formulario para gestionar ubicaciones -->
<form [formGroup]="formLocations" class="d-flex flex-column justify-center mt-4">
  <div
    class="input-group input-group-sm py-2"
    *ngFor="let location of locationsFormArray.controls; let i = index"
    [formGroupName]="i"
  >
    <input
      type="text"
      aria-label="name"
      class="form-control"
      placeholder="Nombre de la ubicación"
      formControlName="name"
      [value]="location.get('name')?.value || ''"
      (change)="onChangeLocationInput($event, 'name', i)"
    />
    <input
      type="text"
      aria-label="linkMap"
      class="form-control"
      placeholder="Enlace del mapa"
      formControlName="linkMap"
      [value]="location.get('linkMap')?.value || ''"
      (change)="onChangeLocationInput($event, 'linkMap', i)"
    />
    <button type="button" class="btn btn-danger" (click)="deleteLocationForm(i)">
      Quitar
    </button>
  </div>
  <div class="modal-footer mx-4">
    <button
      type="button"
      class="btn btn-success text-center me-auto"
      (click)="addLocationForm()"
    >
      Nueva ubicación
    </button>
  </div>
  <div class="d-flex justify-content-center pb-3">
    <button type="submit" class="btn btn-primary" (click)="submitLocationsForm()">
      Guardar ubicaciones
    </button>
  </div>
</form>
