<h1 class="text-center">Editar programa del carrito</h1>

<form [formGroup]="formCart" class="flex flex-col justify-center">
  @for (days of cartFormArray.controls; track days; let i = $index) {
    <div
      class="input-group input-group-sm py-2 departure-input"
      >
      <div class="m-0 p-0">
        <select
          class="form-select custom-btn-start h-full mr-8 btn-square bg-gray-600 text-white border border-gray-600 hover:bg-gray-700 inline-block px-4 py-2 text-center rounded transition cursor-pointer"
          (change)="onChangeInput($event, 'date', i)"
          >
          <option
            [value]="days.get('date')?.value || 'Seleccionar día'"
            disabled
            selected
            >
            {{ days.get("date")?.value || "Seleccionar día" }}
          </option>
          <option value="Lunes">Lunes</option>
          <option value="Martes">Martes</option>
          <option value="Miércoles">Miércoles</option>
          <option value="Jueves">Jueves</option>
          <option value="Viernes">Viernes</option>
          <option value="Sábado">Sábado</option>
          <option value="Domingo">Domingo</option>
        </select>
      </div>
      <span class="input-group-text">
        <input
          type="time"
          aria-label="schedule"
          class="form-control"
          placeholder="Horario"
          [value]="days.get('schedule')?.value || ''"
          (change)="onChangeInput($event, 'schedule', i)"
          />
        </span>
        <input
          type="text"
          aria-label="asignado"
          class="form-control"
          placeholder="Publicador asignado"
          [value]="days.get('assignment')?.value || ''"
          (change)="onChangeInput($event, 'assignment', i)"
          />
          <div class="m-0 p-0">
            <select
              class="form-select custom-btn h-full mr-8 bg-green-600 text-white border border-green-600 hover:bg-green-700 inline-block px-4 py-2 text-center rounded transition cursor-pointer"
              (change)="onChangeInput($event, 'location', i)"
              >
              <option
                [ngValue]="days.get('location')?.value || null"
                disabled
                selected
                >
                {{ days.get("location")?.value?.name || "Seleccionar ubicación" }}
              </option>
              @for (location of locations; track location) {
                <option [ngValue]="location.name">
                  {{ location.name }}
                </option>
              }
            </select>
          </div>
          <div class="m-0 p-0">
            <select
              class="form-select custom-btn h-full mr-8"
              [class]="'btn btn-square btn-' + days.get('color')?.value"
              (change)="onChangeColor($event, i)"
              >
              <option [value]="'secondary'" disabled selected>
                Seleccionar color
              </option>
              <option value="primary">Azul</option>
              <option value="secondary">Gris</option>
              <option value="success">Verde</option>
              <option value="danger">Rojo</option>
              <option value="warning">Amarillo</option>
              <option value="info">Celeste</option>
              <option value="light">Blanco</option>
              <option value="dark">Negro</option>
            </select>
          </div>
          <button type="button" class="bg-red-600 text-white border border-red-600 hover:bg-red-700 inline-block px-4 py-2 text-center rounded transition cursor-pointer" (click)="deleteInputForm(i)">
            Quitar
          </button>
        </div>
      }
      <div class="modal-footer mx-6">
        <button
          type="button"
          class="bg-green-600 text-white border border-green-600 hover:bg-green-700 text-center me-auto inline-block px-4 py-2 text-center rounded transition cursor-pointer"
          (click)="addInputForm()"
          >
          Nueva asignación
        </button>
      </div>
      <hr />
    </form>
    <div class="flex justify-center pb-4">
      <button type="submit" class="bg-blue-600 text-white border border-blue-600 hover:bg-blue-700 inline-block px-4 py-2 text-center rounded transition cursor-pointer" (click)="submitForm()">
        Guardar asignaciones
      </button>
    </div>

    <h1 class="text-center">Editar ubicaciones aprobadas</h1>
    <!-- Nuevo formulario para gestionar ubicaciones -->
    <form [formGroup]="formLocations" class="flex flex-col justify-center mt-6">
      @for (location of locationsFormArray.controls; track location; let i = $index) {
        <div
          class="input-group input-group-sm py-2"
          [formGroupName]="i"
          >
          <input
            type="text"
            aria-label="name"
            class="form-control"
            placeholder="Nombre de la ubicación"
            formControlName="name"
            [value]="location.get('name')?.value || ''"
            (change)="onChangeLocationInput($event, 'name', i)"
            />
            <input
              type="text"
              aria-label="linkMap"
              class="form-control"
              placeholder="Enlace del mapa"
              formControlName="linkMap"
              [value]="location.get('linkMap')?.value || ''"
              (change)="onChangeLocationInput($event, 'linkMap', i)"
              />
              <button type="button" class="bg-red-600 text-white border border-red-600 hover:bg-red-700 inline-block px-4 py-2 text-center rounded transition cursor-pointer" (click)="deleteLocationForm(i)">
                Quitar
              </button>
            </div>
          }
          <div class="modal-footer mx-6">
            <button
              type="button"
              class="bg-green-600 text-white border border-green-600 hover:bg-green-700 text-center me-auto inline-block px-4 py-2 text-center rounded transition cursor-pointer"
              (click)="addLocationForm()"
              >
              Nueva ubicación
            </button>
          </div>
          <div class="flex justify-center pb-4">
            <button type="submit" class="bg-blue-600 text-white border border-blue-600 hover:bg-blue-700 inline-block px-4 py-2 text-center rounded transition cursor-pointer" (click)="submitLocationsForm()">
              Guardar ubicaciones
            </button>
          </div>
        </form>
