<div class="container">
  <div class="flex justify-center">
    <h1 class="my-6 text-center">Congregación {{ congregationName }}</h1>
  </div>
  <h2 class="text-center text-cyan-500">¡Bienvenidos {{ (overseerData$ | async)?.name || 'Esteban y Natalia' }}!</h2>
  
  @if (isAdmin) {
    <div class="flex justify-center my-4">
      <div class="input-group w-auto">
        <input type="text" class="form-control" placeholder="Nuevo nombre" [(ngModel)]="newName">
        <button class="text-blue-600 border border-blue-600 hover:bg-blue-600 hover:text-white inline-block px-4 py-2 text-center rounded transition cursor-pointer" type="button" (click)="saveName()">Guardar</button>
      </div>
    </div>
  }
  <div class="card-container">
    <!-- Ubicaciones -->
    <div class="card" routerLink="../territorios/ubications-overseer">
      <div class="card-body flex flex-col items-center">
        <img src="https://i.postimg.cc/5XbRCwC8/mt.png" alt="map" style="width: 10rem;">
        <h2 class="card-title text-center text-white mt-4">Ubicaciones</h2>
      </div>
    </div>
    <!-- Territorios -->
    <div class="card" routerLink="../territorios">
      <div class="card-body flex flex-col items-center">
        <img src="../../../../../assets/img/map.png" alt="map" style="width: 10rem;">
        <h2 class="card-title text-white mt-4">Territorios</h2>
      </div>
    </div>
    <!-- Salidas -->
    <div class="card" routerLink="../salidas">
      <div class="card-body flex flex-col items-center">
        <img src="../../../../../assets/img/salidas.png" alt="map" style="width: 10rem;">
        <h2 class="card-title text-white mt-4">Salidas</h2>
      </div>
    </div>
  </div>
</div>
