<div style="max-width: 1280px" class="d-flex justify-content-center">
  <div class="card mt-5 text-white bg-dark col-lg-6 col-md-8 col">
    <div class="card-header text-center p-3" style="font-size: 1.5rem">
      Iniciar sesión
    </div>
    <div class="card-body">
      <form [formGroup]="formLogin" (ngSubmit)="loginWhitUser()">
        <div class="form-group">
          <label>Usuario</label>
          <input
            type="text"
            class="form-control bg-dark text-white"
            placeholder="Escribe tu usuario"
            formControlName="user"
            id="user"
            name="user"
          />
        </div>
        <!-- Error  -->
        <div
        class="alert alert-danger mt-3"
        role="alert"
        style="border-radius: 3px; padding: 5px"
          *ngIf="User?.invalid && (User?.dirty || User?.touched)"
        >
          <div class="container-error-message">
            Escribe el usuario que se te proporcionó.
          </div>
        </div>

        <div class="form-group mt-3">
          <label for="exampleInputPassword1">Contraseña</label>
          <input
            type="password"
            class="form-control bg-dark text-white"
            id="exampleInputPassword1"
            placeholder="Escribe tu contraseña"
            formControlName="password"
          />
        </div>
        <!-- Error  -->
        <div
        class="alert alert-danger mt-3"
        role="alert"
        style="border-radius: 3px; padding: 5px"
          *ngIf="Password?.invalid && (Password?.dirty || Password?.touched)"
        >
          <div class="container-error-message">
            Escribe tu contraseña por favor
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <a>
            <button
              type="submit"
              class="btn btn-success mt-3 me-3 justify-content-center"
              [disabled]="formLogin.invalid"
            >
              Iniciar Sesión
            </button>
          </a>
        </div>

        <div
          #errorMessage
          class="alert alert-danger mt-3"
          role="alert"
          style="border-radius: 3px; padding: 5px; display: none"
        >
          <div class="container-error-message">
            Tus datos de inicio de sesión son incorrectos. Intentalo de nuevo.
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
