<div style="max-width: 1280px" class="flex justify-center">
  <div class="card mt-8 text-white bg-gray-900 lg:w-6/12 md:w-8/12 flex-1 px-4">
    <div class="card-header text-center p-4" style="font-size: 1.5rem">
      Iniciar sesión
    </div>
    <div class="card-body">
      <form [formGroup]="formLogin" (ngSubmit)="loginWhitUser()">
        <div class="form-group">
          <label>Usuario</label>
          <input
            type="text"
            class="form-control bg-gray-900 text-white"
            placeholder="Escribe tu usuario"
            formControlName="user"
            id="user"
            name="user"
          />
          </div>
          <!-- Error  -->
          @if (User?.invalid && (User?.dirty || User?.touched)) {
            <div
              class="alert alert-danger mt-4"
              role="alert"
              style="border-radius: 3px; padding: 5px"
              >
              <div class="container-error-message">
                Escribe el usuario que se te proporcionó.
              </div>
            </div>
          }

          <div class="form-group mt-4">
            <label for="exampleInputPassword1">Contraseña</label>
            <div class="input-group">
              <input
                [type]="passwordVisible()? 'text' : 'password'"
                class="form-control bg-gray-900 text-white mr-2"
                id="password-input"
                placeholder="Escribe tu contraseña"
                formControlName="password"
                />
                <div class="input-group-append">
                  <button class="btn-outline-secondary inline-block px-4 py-2 text-center rounded transition cursor-pointer" type="button" (click)="togglePasswordVisibility()">
                    <i [ngClass]="passwordVisible()? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
                  </button>
                </div>
              </div>
            </div>
            <!-- Error  -->
            @if (Password?.invalid && (Password?.dirty || Password?.touched)) {
              <div
                class="alert alert-danger mt-4"
                role="alert"
                style="border-radius: 3px; padding: 5px"
                >
                <div class="container-error-message">
                  Escribe tu contraseña por favor
                </div>
              </div>
            }

            <div class="flex justify-center">
              <a>
                <button
                  type="submit"
                  class="bg-green-600 text-white border border-green-600 hover:bg-green-700 mt-4 mr-4 justify-center inline-block px-4 py-2 text-center rounded transition cursor-pointer"
                  [disabled]="formLogin.invalid"
                  >
                  Iniciar Sesión
                </button>
              </a>
            </div>

            <div
              #errorMessage
              class="alert alert-danger mt-4"
              role="alert"
              style="border-radius: 3px; padding: 5px; display: none"
              >
              <div class="container-error-message">
                Tus datos de inicio de sesión son incorrectos. Intentalo de nuevo.
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
