.card-s-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.table-full{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .filter-class {
    flex-direction: column !important;
  }
}
