<div class="container">
  <!-- <app-breadcrumb [routerBreadcrum]="routerBreadcrum"></app-breadcrumb> -->
  <h1 class="text-center pb-2">Estadísticas de María Teresa</h1>
  <ng-container *ngIf="loadingData">
    <table
      class="table table-dark table-hover table-striped-columns"
      id="mi-tabla"
      cellspacing="0"
      cellpadding="0"
    >
      <thead>
        <tr>
          <th (click)="sortTable('numberTerritory')">
            Territorio
            <i [class]="getIcon('numberTerritory')" aria-hidden="true"></i>
          </th>
          <th (click)="sortTable('completed')">
            Completado
            <i [class]="getIcon('completed')" aria-hidden="true"></i>
          </th>
          <!-- <th (click)="sortTable('applesData')">
            Cantidad de Manzanas
            <i [class]="getIcon('applesData')" aria-hidden="true"></i>
          </th> -->
          <th (click)="sortTable('driver')">
            último conductor asignado
            <i [class]="getIcon('driver')" aria-hidden="true"></i>
          </th>
          <th (click)="sortTable('start')">
            última vez asignado
            <i [class]="getIcon('start')" aria-hidden="true"></i>
          </th>
          <th (click)="sortTable('end')">
            última vez completado
            <i [class]="getIcon('end')" aria-hidden="true"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let dataList of dataListFull | sortBy : path : order"
        >
          <td>Número {{ dataList[0].numberTerritory }}</td>
          <td>{{ dataList[0].completed }}</td>
          <!-- <td>{{ dataList[0].applesData.length }} manzanas</td> -->
          <td>{{ dataList[0].driver }}</td>
          <td>{{ dataList[0].start | date : "dd-MM-yyyy" }}</td>
          <td>
            {{
              (dataList[0].end !== ""
                ? dataList[0].end
                : dataList[1].end !== ""
                ? dataList[1].end
                : dataList[2].end !== ""
                ? dataList[2].end
                : dataList[3].end !== ""
                ? dataList[3].end
                : dataList[4].end !== ""
                ? dataList[4].end
                : dataList[5].end
              ) | date : "dd-MM-yyyy"
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
