<div class="container mx-auto px-4 w-full">
  <div class="flex justify-center">
    <h1 class="my-6 text-center">Congregación {{ congregationName }}</h1>
  </div>

  @if (authService.isDriver() || authService.isAdmin()) {
    <h2 class="text-center text-cyan-500">¡Bienvenido {{ authService.driverName() | titlecase }}!</h2>
  }
  @if (authService.isDriver()) {
    <h2 class="text-center text-green-600">(Conductor)</h2>
  }
  @if (authService.isAdmin()) {
    <h2 class="text-center text-red-600">(Administrador)</h2>
  }

  <div class="flex justify-center flex-wrap items-center md:flex-row flex-col">
    <!-- Territorios -->
    <div class="w-72 bg-[#454b4f] m-4 hover:shadow-2xl hover:cursor-pointer transition-shadow duration-300" routerLink="../territorios">
      <div class="card-body flex flex-col items-center p-4">
        <img src="../../../../../assets/img/map.png" alt="map" class="w-40">
        <h2 class="card-title text-white mt-4">Territorios</h2>
      </div>
    </div>
    <!-- Salidas -->
    <div class="w-72 bg-[#454b4f] m-4 hover:shadow-2xl hover:cursor-pointer transition-shadow duration-300" routerLink="../salidas">
      <div class="card-body flex flex-col items-center p-4">
        <img src="../../../../../assets/img/salidas.png" alt="map" class="w-40">
        <h2 class="card-title text-white mt-4">Salidas</h2>
      </div>
    </div>
    <!-- Carrito -->
    <div class="w-72 bg-[#454b4f] m-4 hover:shadow-2xl hover:cursor-pointer transition-shadow duration-300" routerLink="../carrito">
      <div class="card-body flex flex-col items-center p-4">
        <img src="../../../../../assets/img/carrito.png" alt="map" class="w-40">
        <h2 class="card-title text-white mt-4">Carrito</h2>
      </div>
    </div>

    @if (authService.isAdmin()) {
      <!-- Campaña -->
      <div class="w-72 bg-[#454b4f] m-4 hover:shadow-2xl hover:cursor-pointer transition-shadow duration-300" routerLink="../campaign">
        <div class="card-body flex flex-col items-center p-4">
          <img src="../../../../../assets/img/campaign.png" alt="map" class="w-40">
          <h2 class="card-title text-white mt-4 text-center">Campaña</h2>
        </div>
      </div>
      <!-- Estadísticas -->
      <div class="w-72 bg-[#454b4f] m-4 hover:shadow-2xl hover:cursor-pointer transition-shadow duration-300" routerLink="../statistics">
        <div class="card-body flex flex-col items-center p-4">
          <img src="../../../../../assets/img/statistics.png" alt="map" class="w-40">
          <h2 class="card-title text-white mt-4 text-center">Estadísticas</h2>
        </div>
      </div>
      <!-- Registro de asignación de territorios -->
      <div class="w-72 bg-[#454b4f] m-4 hover:shadow-2xl hover:cursor-pointer transition-shadow duration-300" routerLink="../registro-territorios">
        <div class="card-body flex flex-col items-center p-4">
          <img src="../../../../../assets/img/asignacion.png" alt="map" class="w-40">
          <h2 class="card-title text-white mt-4 text-center">Registro de territorios</h2>
        </div>
      </div>
      <!-- Usuarios -->
      <div class="w-72 bg-[#454b4f] m-4 hover:shadow-2xl hover:cursor-pointer transition-shadow duration-300" routerLink="../usuarios">
        <div class="card-body flex flex-col items-center p-4">
          <img src="../../../../../assets/img/group.png" alt="map" class="w-40">
          <h2 class="card-title text-white mt-4 text-center">Usuarios</h2>
        </div>
      </div>
    }
  </div>

  <div class="flex justify-center mt-8 mb-12">
    @if (authService.showLoginButton()) {
      <button class="bg-yellow-500 text-black hover:bg-yellow-600 text-lg mx-2 inline-block px-4 py-2 text-center rounded transition cursor-pointer" routerLink="/auth">Iniciar sesión</button>
    } @else {
      <button class="bg-blue-600 text-white border border-blue-600 hover:bg-blue-700 text-lg mx-2 inline-block px-4 py-2 text-center rounded transition cursor-pointer" (click)="activeNotification()">Notificarme</button>
      <button class="bg-red-600 text-white border border-red-600 hover:bg-red-700 text-lg mx-2 inline-block px-4 py-2 text-center rounded transition cursor-pointer" (click)="authService.logout()">Cerrar sesión</button>
    }
  </div>

  <div class="flex justify-center">
    @if (pwaService.showInstallButton()) {
      <button class="bg-cyan-500 text-white hover:bg-cyan-600 text-lg inline-block px-4 py-2 text-center rounded transition cursor-pointer" (click)="pwaService.installPWA()">Instalar App</button>
    }
  </div>
</div>
