<div class="container">
  <app-breadcrumb [routerBreadcrum]="routerBreadcrum"></app-breadcrumb>
  <div class="table-group-container">
    @for (group of groupList; track group) {
      <div style="overflow-x: auto; width: 100%">
        <table class="table table-dark table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">{{ group.id }}</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            @for (publisher of group.publishers; track publisher) {
              <tr
            [ngClass]="
              publisher.assignment === 'Superintendente'
                ? 'table-success'
                : publisher.assignment === 'Auxiliar'
                ? 'table-primary'
                : 'table-secondary'
            "
                >
                <td colspan="2"
                  [ngClass]="publisher.assignment === 'Superintendente' || publisher.assignment === 'Auxiliar' ? 'text-center' : ''"
                >{{ publisher.name }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </div>
</div>
