<section class="d-flex justify-content-center rounded formRoad">
  <form [formGroup]="formRoad" (ngSubmit)="postForm(this.editionForm?.id)">
    <div class="mb-3">
      <label for="title" class="form-label text-dark">Nombre</label>
      <input id="title" type="text" class="form-control" formControlName="title" placeholder="Ingresar un nombre">
    </div>
    <div class="mb-3">
      <label for="distance" class="form-label text-dark">Distancia</label>
      <input id="distance" type="text" class="form-control" formControlName="distance" placeholder="Distancia total">
    </div>
    <div class="mb-3">
      <label for="vehicle" class="form-label text-dark">Vehiculo</label>
      <input id="vehicle" type="text" class="form-control" formControlName="vehicle" placeholder="Vehiculo">
    </div>
    <div class="mb-3">
      <label for="time" class="form-label text-dark">Tiempo aproximado</label>
      <input id="time" type="text" class="form-control" formControlName="time" placeholder="Ejemplo: 2hs aprox">
    </div>
    <div class="mb-3">
      <label for="lastDate" class="form-label text-dark">Ultima vez que se completó (opcional)</label>
      <input id="lastDate" type="date" class="form-control"
        placeholder="dd-mm-yyyy" formControlName="lastDate">
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          [disabled]="formRoad.invalid"
          >
          @if (!this.editionForm?.id) {
            <span>Crear camino</span>
          } @else {
            <span>Actualizar</span>
          }
        </button>
      </div>
    </form>
  </section>
