<section class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center p-4 bg-gradient rounded formRoad">
    <h2 class="pb-3 text-center">Agregar un nuevo camino rural</h2>
    <form [formGroup]="formRoad" (ngSubmit)="postForm(this.editionForm?.id)">
      <div class="d-flex align-items-center">
        <h4>🔸Nombre:</h4>
        <input type="text" class="form-control ms-2" formControlName="title" placeholder="Nombre del camino">
      </div>
      <div class="d-flex align-items-center my-4">
        <h4>🔸Distancia:</h4>
        <input type="text" class="form-control ms-2" formControlName="distance" placeholder="Distancia total">
      </div>
      <div class="d-flex align-items-center my-4">
        <h4>🔸Vehiculo:</h4>
        <input type="text" class="form-control ms-2" formControlName="vehicle" placeholder="Vehiculo">
      </div>
      <div class="d-flex align-items-center my-4">
        <h4>🔸Tiempo aproximado:</h4>
        <input type="text" class="form-control ms-2" formControlName="time" placeholder="Tiempo aproximado en terminar el trayecto">
      </div>
      <div class="d-flex align-items-center my-4">
        <h4>🔸Ultima vez que se completó (opcional):</h4>
        <input type="date" class="form-control"
        placeholder="dd-mm-yyyy" formControlName="lastDate">
      </div>
      <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          [disabled]="formRoad.invalid"
        >
          <span *ngIf="!this.editionForm?.id; else edition">Crear camino</span>
          <ng-template #edition><span>Editar camino</span></ng-template>
        </button>
      </div>
    </form>
  </div>
</section>
