<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    @for (route of routerBreadcrum(); track route; let c = $count; let i = $index) {
      <li
        class="breadcrumb-item d-flex"
        >
        <a [routerLink]="returnBack.repeat(c - i)" class="route">{{
          route.route
        }}</a>
        <p class="slash ms-3 me-2 my-0">/</p>
      </li>
    }
    <li class="breadcrumb-item active" aria-current="page">
      {{ ultimateElement }}
    </li>
  </ol>
</nav>
