<div class="container table-responsive">
  <app-breadcrumb [routerBreadcrum]="routerBreadcrum()"></app-breadcrumb>
  <div class="d-flex justify-content-center">
    <h1 class="mt-0 mb-3">Selecciona una localidad</h1>
  </div>
  
  <!-- Botones de localidades para estadísticas -->
  <div class="card-container d-flex justify-content-center mb-3">
    @for (group of CardButtonsStatistics(); track group) {
      <app-card-xl
        [mapName]="group.name"
        [mapSRC]="group.src"
        [routerLink]="group.link"
      ></app-card-xl>
    }
  </div>
</div>
